@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
 

  --container-center: true;
  --container-padding: 2rem;
  --container-padding-sm: 2rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 2rem;
  }
}