@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
 

  --container-center: true;
  --container-padding: 2rem;
  --container-padding-sm: 2rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 2rem;

  --font-family-sans: var(--font-sans);
  --font-family-serif: var(--font-serif);
  }

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }
}